openapi: 3.0.3
info:
  title: VoiceHire API
  description: |
    API REST pour automatiser les campagnes de recrutement avec VoiceHire.
    
    ## Authentification
    
    L'API utilise une authentification par clé API. Vous devez inclure votre clé API dans l'en-tête `X-API-Key` de chaque requête.
    
    ```
    X-API-Key: vh_live_XXXXXXXXXXXXX
    ```
    
    ## Format des réponses
    
    Toutes les réponses sont au format JSON. Les erreurs suivent un format standardisé :
    
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "Description de l'erreur",
        "details": {}
      }
    }
    ```
    
    ## Limites
    
    - Les numéros de téléphone doivent être des numéros français (06 ou 07)
    - Maximum 100 candidats par requête d'ajout
    - Les campagnes peuvent avoir jusqu'à 8 questions personnalisées
    
  version: 1.0.0
  contact:
    name: Support VoiceHire
    email: support@voicehire.io
    url: https://www.voicehire.io

servers:
  - url: https://app.voicehire.io
    description: Production
  - url: http://localhost:8080
    description: Développement local

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Clé API VoiceHire (format vh_live_...)

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Code d'erreur unique
            message:
              type: string
              description: Message d'erreur lisible
            details:
              type: object
              description: Détails supplémentaires sur l'erreur
      required:
        - error

    Campaign:
      type: object
      properties:
        campaign_id:
          type: string
          description: Identifiant unique de la campagne
          example: "abc123def456"
        job_title:
          type: string
          description: Titre du poste
          example: "Développeur Full Stack"
        status:
          type: string
          enum: [active, paused, completed]
          description: Statut de la campagne
        total_candidates:
          type: integer
          description: Nombre total de candidats
        created_at:
          type: string
          format: date-time
          description: Date de création

    CampaignCreate:
      type: object
      required:
        - job_title
        - contract_type
        - job_description
      properties:
        job_title:
          type: string
          description: Titre du poste
          example: "Développeur Full Stack"
        contract_type:
          type: string
          enum: [CDI, CDD, Stage, Alternance, Freelance, Interim]
          description: Type de contrat
        job_description:
          type: string
          description: Description détaillée du poste
        additional_info:
          type: string
          description: Informations complémentaires (optionnel)
        client_name:
          type: string
          description: Nom de l'entreprise cliente (optionnel)
        questions:
          type: array
          items:
            type: string
          description: Questions personnalisées (optionnel, max 8)
          example: ["Quelle est votre expérience avec React?", "Êtes-vous disponible pour du télétravail?"]
        question_weights:
          type: array
          items:
            type: number
            enum: [0, 0.5, 1, 1.5, 2]
          description: Poids des questions (requis si questions fournies)
        enable_salary_question:
          type: boolean
          default: true
          description: Activer la question sur le salaire
        enable_job_search_question:
          type: boolean
          default: true
          description: Activer la question sur la recherche d'emploi
        enable_availability_question:
          type: boolean
          default: true
          description: Activer la question sur la disponibilité

    Candidate:
      type: object
      required:
        - first_name
        - last_name
        - phone
        - email
      properties:
        first_name:
          type: string
          example: "Jean"
        last_name:
          type: string
          example: "Dupont"
        phone:
          type: string
          description: Numéro de téléphone français
          example: "0612345678"
        email:
          type: string
          format: email
          example: "jean.dupont@example.com"

    CandidateDetails:
      type: object
      properties:
        candidate_id:
          type: string
          format: uuid
        campaign_id:
          type: string
        basic_info:
          type: object
          properties:
            first_name:
              type: string
            last_name:
              type: string
            email:
              type: string
            phone:
              type: string
        interview:
          type: object
          properties:
            status:
              type: string
              enum: [completed, voicemail, incomplete, pending]
            date:
              type: string
            duration_seconds:
              type: integer
              nullable: true
            score:
              type: number
              nullable: true
        responses:
          type: array
          items:
            type: object
            properties:
              question:
                type: string
              answer:
                type: string
              score:
                type: number
              weight:
                type: number
              explanation:
                type: string
        analysis:
          type: object
          properties:
            availability:
              type: string
            availability_start:
              type: string
              format: date
              nullable: true
            salary_expectation:
              type: string
            candidate_alignment:
              type: string
            strengths:
              type: array
              items:
                type: string
            concerns:
              type: array
              items:
                type: string

    CampaignStatus:
      type: object
      properties:
        campaign_id:
          type: string
        status:
          type: string
          enum: [active, paused, completed]
        stats:
          type: object
          properties:
            total_candidates:
              type: integer
            interviews_completed:
              type: integer
            average_score:
              type: number
            time_saved_hours:
              type: number
            completion_rate:
              type: number
            qualified_count:
              type: integer
            voicemail_count:
              type: integer
            incomplete_count:
              type: integer
            unavailable_count:
              type: integer
            no_answer_count:
              type: integer
            invalid_count:
              type: integer

    Credits:
      type: object
      properties:
        credits_available:
          type: number
          description: Crédits disponibles
        credits_used_this_month:
          type: integer
          description: Crédits utilisés ce mois
        subscription_type:
          type: string
          description: Type d'abonnement
        reset_date:
          type: string
          format: date
          description: Date de réinitialisation

paths:
  /api/v1/campaigns:
    get:
      tags:
        - Campaigns
      summary: Liste les campagnes
      description: Récupère la liste de toutes les campagnes de l'agence avec pagination
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Numéro de page
        - in: query
          name: per_page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Nombre de résultats par page
        - in: query
          name: status
          schema:
            type: string
            enum: [active, paused, completed]
          description: Filtrer par statut
      responses:
        '200':
          description: Liste des campagnes
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaigns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
        '400':
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/campaigns/create:
    post:
      tags:
        - Campaigns
      summary: Crée une nouvelle campagne
      description: |
        Crée une campagne de recrutement avec génération automatique ou personnalisation des questions d'entretien.
        
        Si aucune question n'est fournie, 6 questions seront générées automatiquement par IA en fonction de la description du poste.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreate'
      responses:
        '201':
          description: Campagne créée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                    description: ID unique de la campagne
                  candidate_link:
                    type: string
                    format: uri
                    description: Lien pour les candidats
                  status:
                    type: string
                    enum: [active]
                  questions_generated:
                    type: integer
                    description: Nombre de questions générées
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Crédits insuffisants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/campaigns/{campaign_id}/candidates:
    post:
      tags:
        - Campaigns
      summary: Ajoute des candidats à une campagne
      description: |
        Ajoute jusqu'à 100 candidats à une campagne et déclenche automatiquement les appels téléphoniques.
        
        Les candidats déjà existants (même numéro de téléphone) seront ignorés.
        Chaque candidat ajouté consomme 1 crédit.
      parameters:
        - in: path
          name: campaign_id
          required: true
          schema:
            type: string
          description: ID de la campagne
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidates
              properties:
                candidates:
                  type: array
                  maxItems: 100
                  items:
                    $ref: '#/components/schemas/Candidate'
      responses:
        '200':
          description: Candidats traités
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  candidates_added:
                    type: integer
                    description: Nombre de candidats ajoutés
                  candidates_skipped:
                    type: integer
                    description: Nombre de candidats ignorés (déjà existants)
                  calls_queued:
                    type: integer
                    description: Nombre d'appels en attente
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        error:
                          type: string
        '404':
          description: Campagne non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Campaigns
      summary: Liste les candidats d'une campagne
      description: Récupère la liste des candidats avec leur synthèse d'entretien
      parameters:
        - in: path
          name: campaign_id
          required: true
          schema:
            type: string
          description: ID de la campagne
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Numéro de page
        - in: query
          name: per_page
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Résultats par page
        - in: query
          name: sort
          schema:
            type: string
            enum: [date_desc, date_asc, score_desc, score_asc]
            default: date_desc
          description: Ordre de tri
        - in: query
          name: filter_status
          schema:
            type: string
            enum: [completed, voicemail, pending]
          description: Filtrer par statut d'entretien
        - in: query
          name: min_score
          schema:
            type: number
          description: Score minimum
      responses:
        '200':
          description: Liste des candidats
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        candidate_id:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
                        status:
                          type: string
                        interview_score:
                          type: number
                          nullable: true
                        interview_date:
                          type: string
                        availability:
                          type: string
                        salary_expectation:
                          type: string
                        candidate_alignment:
                          type: string
                        strengths:
                          type: string
                        concerns:
                          type: string
                        is_sourced:
                          type: boolean
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer

  /api/v1/campaigns/{campaign_id}/source:
    post:
      tags:
        - Campaigns
      summary: Source des candidats avec SMS
      description: |
        Ajoute des candidats sourcés et leur envoie automatiquement un SMS d'invitation.
        
        Nécessite que l'agence ait configuré un template SMS.
        Chaque SMS envoyé consomme 1 crédit.
      parameters:
        - in: path
          name: campaign_id
          required: true
          schema:
            type: string
          description: ID de la campagne
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidates
              properties:
                candidates:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - first_name
                      - last_name
                      - phone
                    properties:
                      first_name:
                        type: string
                      last_name:
                        type: string
                      phone:
                        type: string
                      email:
                        type: string
                        nullable: true
      responses:
        '200':
          description: Candidats sourcés
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  candidates_sourced:
                    type: integer
                  candidates_skipped:
                    type: integer
                  sms_sent:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object

  /api/v1/campaigns/{campaign_id}/status:
    get:
      tags:
        - Campaigns
      summary: Obtient le statut d'une campagne
      description: Récupère le statut détaillé d'une campagne avec statistiques
      parameters:
        - in: path
          name: campaign_id
          required: true
          schema:
            type: string
          description: ID de la campagne
      responses:
        '200':
          description: Statut de la campagne
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStatus'
        '404':
          description: Campagne non trouvée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags:
        - Campaigns
      summary: Met à jour le statut d'une campagne
      description: Change le statut d'une campagne (active, paused, completed)
      parameters:
        - in: path
          name: campaign_id
          required: true
          schema:
            type: string
          description: ID de la campagne
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [active, paused, completed]
      responses:
        '200':
          description: Statut mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  status:
                    type: string

  /api/v1/candidates/{candidate_id}:
    get:
      tags:
        - Candidates
      summary: Obtient les détails d'un candidat
      description: Récupère les informations complètes d'un candidat incluant ses réponses d'entretien
      parameters:
        - in: path
          name: candidate_id
          required: true
          schema:
            type: string
            format: uuid
          description: UUID du candidat
      responses:
        '200':
          description: Détails du candidat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetails'
        '404':
          description: Candidat non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/account/credits:
    get:
      tags:
        - Account
      summary: Obtient les informations de crédits
      description: Récupère le solde de crédits et les informations d'abonnement
      responses:
        '200':
          description: Informations de crédits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'

tags:
  - name: Campaigns
    description: Gestion des campagnes de recrutement
  - name: Candidates
    description: Gestion des candidats
  - name: Account
    description: Informations du compte